@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/Roboto-Regular.ttf');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  background-color: hsl(234, 29%, 20%);
  color: hsl(235, 18%, 26%);
  font-family: 'Roboto';
}

h1 {
  font-size: 2em;
  font-weight: 700;
  margin: .5em 0;
}

p {
  font-size: 15px;
  width: 85%;
}

ul {
  margin: 2em 0;
}

ul li {
  display: flex;
  align-items: start;
  margin: 1em 0;
  list-style: none;
}

ul li p {
  margin-left: 1em; 
}

.btn {
  border: none;
  width: 100%;
  padding: 15px 20px;
  background-color: hsl(235, 18%, 26%);
  color: hsl(0, 0%, 100%);
  border-radius: 8px;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
  transition: .5s;
}

.btn:hover {
  background-image: linear-gradient(to right, hsl(335, 93%, 72%), hsl(4, 100%, 67%) 60%);
}

.hidden {
  display: none;
}

.signup {
  background-color: hsl(0, 0%, 100%);
}

.image {
  height: 285px;
  background: url('assets/images/illustration-sign-up-mobile.svg') no-repeat;
  background-size: contain;
}

.info {
  padding: 1.5em;
}

form label {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  margin: 1em 0;
}

form label h3 {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}

.error {
  color: hsl(4, 100%, 67%);
}

input {
  padding: 15px 20px;
  border-radius: 8px;
  border: 1px solid hsl(231, 7%, 60%);
  color: hsl(231, 7%, 60%);
  font-size: 15px;
  margin: .5em 0 2em;
}

input:focus {
  outline: 1px ridge red;
}

.success {
  height: 100vh;
  background-color: hsl(0, 0%, 100%);
  padding: 6em 1.5em 2.5em;
}

.success p {
  width: 90%;
  margin: 1em 0 9em;
}

@media screen and (min-width: 376px) {
  .signup {
    display: flex;
    flex-direction: row-reverse; 
    justify-content: space-between;
    padding: 1.5em;
    width: 60vw;
    border-radius: 20px;
    height: 70vh;
  }

  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
  }

  .image {
    height: auto;
    width: 45%;
    background: url('assets/images/illustration-sign-up-desktop.svg') no-repeat right center;
    background-size: cover;
    border-radius: 20px;
  }

  .success {
    height: auto;
    width: 30vw;
    border-radius: 20px;
    padding: 4em;
  }

  .success p {
    width: 100%;
    margin: 2em 0;
  }
}